<h3><%= phone_details.label %> Phone Number for <%= linked_contacts_for(phone_details) %></h3>

<p><%= link_to display_phone_number(phone_details), edit_phone_number_path(phone_details), :title => "Edit" %></p>