<h3>Edit <%= @phone_number.label %> Phone Number for <%= @contact.name %></h3>

<% semantic_form_for @phone_number, :url => contact_phone_number_path(@contact, @phone_number) do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>

<%= render :partial => 'contacts/navigation' %>