<h3>New Phone Number for <%= @contact.name %></h3>

<% semantic_form_for @phone_number, :url => contact_phone_numbers_path(@contact) do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>

<%= render :partial => 'contacts/navigation' %>